In [8]:
my_list = [1,3,5,6]
my_dict = {
    my_list: 1, 
    'key2_2': 'Servando'
}

TypeError: unhashable type: 'list'

In [9]:
# key value pairs

for  item in my_dict.items():
    print(item)

(list[1, 23], 1)
('key2_2', 'Servando')

In [10]:
my_list[::-1]

[6, 5, 3, 1]

In [11]:
my_list.append(0)

In [12]:
my_list

[1, 3, 5, 6, 0]

In [13]:
a= 10
denominator = 0



try:
    a / denominator

except:
    print('denominator = 0')

denominator = 0

In [23]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6 non-null      int64
 1    Order Date      6 non-null      object
 2    Customer Name   6 non-null      object
 3    Item            6 non-null      object
 4    Cost            6 non-null      object
 5    Order Quantity  6 non-null      object
dtypes: int64(1), object(5)
memory usage: 416.0+ bytes

In [18]:
df.columns

Index(['ID', ' Order Date', ' Customer Name', ' Item', ' Cost',
       ' Order Quantity'],
      dtype='object')

In [21]:
df[' Order Quantity'] = df[' Order Quantity'].apply(lambda x: x == ' N/A', '0')

In [29]:
df[' Order Quantity'] = df[' Order Quantity'].replace(' N/A', 0)

In [27]:
df[' Cost'] = df[' Cost'].replace(' N/A', 0)

In [30]:
df

   ID   Order Date  Customer Name       Item  Cost  Order Quantity
0   1   2019-01-01           Anna    Monitor   100              10
1   2   2019-06-02            Ben    Monitor   100               5
2   3   2019-03-19          Lewis     Laptop   400               0
3   4   2019-07-03        Charles     Laptop   400               2
4   5   2019-04-14           John   Keyboard     0              20
5   6   2019-01-12            Sam   Keyboard    10              15

In [31]:
# revenue = cost * order quanitty 



df[' Cost'] = df[' Cost'].astype(int)
df[' Order Quantity'] = df[' Order Quantity'].astype(int)


df['revenue'] = df[' Cost'] * df[' Order Quantity']

In [32]:
df

   ID   Order Date  Customer Name       Item   Cost   Order Quantity  revenue
0   1   2019-01-01           Anna    Monitor    100               10     1000
1   2   2019-06-02            Ben    Monitor    100                5      500
2   3   2019-03-19          Lewis     Laptop    400                0        0
3   4   2019-07-03        Charles     Laptop    400                2      800
4   5   2019-04-14           John   Keyboard      0               20        0
5   6   2019-01-12            Sam   Keyboard     10               15      150

In [ ]:
df.loc[]

In [36]:
df.loc[0, 'revenue']

1000

In [47]:
# second largest value in a list 

my_list = [14, 14, 7, 8, 9, 1, 10, 10]

def second_largest_value(lst):

    sorted_list = sorted(lst, reverse=True)

    for i in sorted_list:
        if i == i:  
            sorted_list.pop(i)
        else:
            sorted_list


    return print(sorted_list)

second_largest_value(my_list)

10